@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

.work-title {
  margin: 4rem 0;
  font-size: 2.4rem;
  font-weight: 400;
}

.filter-buttons {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1.2rem;
  margin-bottom: 4rem;
  text-align: center;
}

.filter-buttons button {
  background-color: transparent;
  color: var(--black);
  border: solid 0.1rem #c8c8c8;
  padding: 1.2rem 2.4rem;
  font-size: 0.8rem;
  line-height: 1.4rem;
  height: 4rem;
  cursor: pointer;
}

button:hover {
  border: solid 0.1rem var(--black);
}

@media (max-width: 768px) {
  .work-title {
    font-size: 1.6rem;
    margin-top: 2rem;
  }

  .table {
    font-size: 0.4rem;
  }
}

@media (max-width: 480px) {
  .work-title {
    font-size: 1.4rem;
  }
  .table {
    font-size: 0.8rem;
  }
}
